.item {
  border-bottom: 1px solid black;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.name {
  font-weight: 600;
  font-size: 20px;

  margin-bottom: 20px;
}

.image {
  float: left;

  width: 100px;
  height: 100px;

  margin-right: 20px;
  margin-bottom: 20px;
}

.textItem {
  margin-right: 10px;
}

.content {
  min-height: 200px;
}
